body {
  margin: calc(2em + 10vmin) 0 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navigation a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0 calc(5px + 3vmin);
  padding: calc(5px + 1vmin) calc(3px + 2vmin);
  font-size: calc(8px + 3vmin);
  line-height: 1.1;
  border-radius: calc(3px + 1vmin);
  background-color: transparent;
  transition: color .5s, background-color .3s;
}
.navigation a:hover {
  color: white;
  background-color: black;

}

.title {
  font-size: calc(30px + 10vmin);
}
.error-text {
  color: darkred;
  font-size: calc(10px + 3vmin);
}
